<h1>Search Github Repositories</h1>
<%= form_tag '/search' do %>
  <%= label_tag :query %>
  <%= text_field_tag :query %>
  <%= submit_tag "Search Github!" %>
<% end %>

<% if @body_hash %>
  <ul>
    <% @body_hash["items"].each do |item| %>
      <li>
        <a href="<%= item["html_url"] %>"><%= item["html_url"] %></a>
        <p><%=item["description"]%></p>
      </li>
    <% end %>

  </ul>
<% end %>
